$minWidth: 320;
$maxWidth: 1440;
$containerWidth: 1210;

// fonts
$fontFamily: 'Noto Sans JP', sans-serif;
$volkhov:  sans-serif;
$open-sans: 'Open Sans', sans-serif;
$noto-sans: 'Noto Sans JP', sans-serif;
$poppins: 'Poppins', sans-serif;
$fontSize: 16;

// color
$lightPurple: #5E6282;
$darkPurple: #14183E;

// breakpoints

$sm : 576px;
$md : 768px;
$lg : 992px;


// $minWidth: 320px;
// $maxWidth: 1920;
// $maxWidthContainer: 1170;
// $md1: $maxWidthContainer + 12;
// $md2: 991.98;
// $md3: 767.98;
// $md4: 479.98;

// $mainColor: #000;